<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body>
    <nav>
        <h1>Recommendation System</h1>
        <i class="ri-history-line"></i>
    </nav>
    <form action="">
        <div class="search">
            <i class="ri-search-line"></i>
            <input class="search-input" type="search" placeholder="Search">
        </div>
    </form>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th style="width: 25%; text-align: center;">Predicted Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in recommended_movies %}
                <tr>
                    <td>{{ movie.item }}</td>
                    <td style="text-align: center;">{{ '{:.3f}'.format(movie.rating) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>